numpy
matplotlib
plotly
scipy
flask
flask-socketio
flask-restful
flask-cors
pandas
dash
# torch # Temporarily removed to save space
# RLlib # Commenting out as ray[rllib] is more standard
pyNetLogo
pygame>=2.5.0
pettingzoo
# ray[rllib] # Temporarily removed to save space
pygame_gui>=0.6.5
gym
gymnasium
streamlit
Pillow
