numpy
matplotlib
plotly
scipy
flask
flask-socketio
flask-restful
flask-cors
pandas
dash
# torch # Temporarily removed to save space
# RLlib # Commenting out as ray[rllib] is more standard
pyNetLogo
pygame
pettingzoo
# ray[rllib] # Temporarily removed to save space
pygame-gui
gym
gymnasium
streamlit
Pillow
